@import 'variables.scss';
@import 'header/header.scss';
@import './form/form.scss';

@import './booking/booking.scss';
@import 'service/service-listing.scss';
@import 'service/service-detail.scss';
@import 'service/service-manage';
@import 'editable/editable-component';
@import 'payment/payment';

.clickable {
  &:hover {
    cursor: pointer;
  }
}

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: $main-text-gray-color;
}

.Landscaping {
  color: rgb(17, 167, 74);
}

.Housekeeping {
  color: rgb(221, 109, 202);
}

.Pet.Care {
  color: rgb(248, 147, 15);
}

.Auto.Detailing {
  color: rgb(218, 13, 13);
}

.btn-ehe {
  background-color: $second-color !important;
  border-color: $second-color !important;
  color: #ffffff !important;
  padding: 10px 15px;
  font-size: 1.1rem;

  &:hover,
  &:focus,
  &:active {
    border-color: $second-hover-color !important;
    background-color: $second-hover-color !important;
  }
}

#showcase {
  background: url('img/showcase.jpg') no-repeat center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem;
}
#showcase .home-search {
  min-height: 300px;
  position: relative;
  border-radius: 5px;
}
#showcase .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8);
}

#services {
  background-color: $second-color;
}

#main-footer {
  background-color: $main-color;
}
