// $main-color: rgb(21, 151, 9);
// $main-color: #10284e;
// $main-color: #3f71d6;
$main-color: #111e6c;
$second-color: #00a572;
$second-hover-color: #2e8b57;
$main-text-gray-color: #4a4a4a;
$light-gray-color: #a9a9a9;
$main-black-color: #20232a;
$main-white-color: #ededed;
$lighter-gray-color: #dedada;
