#serviceListing {
  margin-top: 1.5rem;
  .service-detail-link {
    &:hover {
      text-decoration: none;
    }
  }

  // Single Card Styles
  .ehe-card {
    height: 100%;
    img {
      width: 100%;
    }
    .card-body {
      .card-title {
        font-weight: 500;
        font-size: 1.1rem;
        text-transform: uppercase;
        color: $main-text-gray-color;
      }

      .card-subtitle {
        text-transform: capitalize;
        font-size: 1.1rem;
        padding-bottom: 0.5rem;
      }

      .card-text {
        font-size: 14px;
        font-weight: 300;
        color: #7e7e7e;
      }
    }
  }
}
