#userServices {
  .toBeDeleted {
    border-color: red;
  }

  .card {
    margin-bottom: 20px;
  }

  .card-block {
    padding: 20px;
  }

  .card-title {
    font-size: 20px;
  }

  .btn-ehe {
    font-size: 14px;
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
  }

  .card-footer {
    font-size: 14px;
  }

  .btn-bookings {
    border-color: $main-color;
    background-color: transparent;
    color: $main-color;

    &:hover,
    &:focus {
      border-color: $main-color !important;
      background-color: transparent !important;
      color: $main-color !important;
    }
  }

  .delete-menu {
    margin-top: 5px;
  }

  .btn-danger,
  .btn-success,
  .btn-warning {
    margin-left: 10px;
    font-size: 14px;
    border-style: solid;
    color: #fff;
  }
}

.service-booking-modal {
  .btn-ehe {
    font-size: 14px;
    color: white;
    padding: 10px 15px;
  }

  .bookings-inner-container {
    p {
      font-size: 14px;
      margin-bottom: 0px;
    }
  }
}
