.navbar {
  padding: 20px;
  // margin-bottom: 40px;
  background-color: $main-color;

  .ehe-search {
    height: 40px;
    width: 200px !important;
  }

  .navbar-brand {
    margin-right: 30px;
    font-size: 2rem;
    // letter-spacing: 1px;
    font-weight: 700;
  }

  .nav-item {
    font-size: 14px;
  }

  // .btn-ehe-search {
  //   &:hover,
  //   &:focus,
  //   &:active {
  //     background-color: $main-white-color !important;
  //     // border-color: $main-color !important;
  //     // color: $main-color !important;
  //     box-shadow: none;
  //   }
  // }

  .nav-item {
    color: $main-white-color;
  }

  .cta {
    font-weight: 700;
    color: #ffc30b !important;
  }

  .dropdown-menu {
    .dropdown-item {
      font-size: 14px;

      &:hover,
      &:active {
        background-color: $main-color;
      }
    }
  }
}

.top-bar_content {
  color: $main-color;
}
.social a {
  margin-right: 0.5rem;
  color: $main-color;
}

.sub-title {
  font-size: 28px;
  font-weight: 300;
}

#showcase-inner {
  background: url('img/inner-showcase.jpg') no-repeat bottom center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 150px;
  margin-bottom: 1.5rem;
}
#showcase-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8);
}
#showcase-inner.showcase-search {
  min-height: 270px;
}
