.navbar {
  padding: 20px;
  background-color: #111e6c; }
  .navbar .ehe-search {
    height: 40px;
    width: 200px !important; }
  .navbar .navbar-brand {
    margin-right: 30px;
    font-size: 2rem;
    font-weight: 700; }
  .navbar .nav-item {
    font-size: 14px; }
  .navbar .nav-item {
    color: #ededed; }
  .navbar .cta {
    font-weight: 700;
    color: #ffc30b !important; }
  .navbar .dropdown-menu .dropdown-item {
    font-size: 14px; }
    .navbar .dropdown-menu .dropdown-item:hover, .navbar .dropdown-menu .dropdown-item:active {
      background-color: #111e6c; }

.top-bar_content {
  color: #111e6c; }

.social a {
  margin-right: 0.5rem;
  color: #111e6c; }

.sub-title {
  font-size: 28px;
  font-weight: 300; }

#showcase-inner {
  background: url("img/inner-showcase.jpg") no-repeat bottom center fixed/cover;
  position: relative;
  overflow: hidden;
  min-height: 150px;
  margin-bottom: 1.5rem; }

#showcase-inner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  background: rgba(32, 134, 107, 0.8); }

#showcase-inner.showcase-search {
  min-height: 270px; }

.ehe-form {
  color: #4a4a4a; }
  .ehe-form h1 {
    font-weight: 700;
    margin-bottom: 30px; }
  .ehe-form .image-container {
    position: relative; }
    .ehe-form .image-container img {
      width: 100%;
      border-radius: 5px; }
  .ehe-form label {
    font-size: 12px; }
  .ehe-form .form-text {
    font-size: 13px; }
  .ehe-form .catchphrase {
    text-align: center;
    font-size: 42px;
    position: absolute;
    color: #f1f1f1;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    letter-spacing: 1px; }
  .ehe-form .btn-form {
    margin-top: 1rem; }

.ehe-res-errors {
  margin: 10px 0; }
  .ehe-res-errors p {
    margin-bottom: 5px; }

.booking {
  padding: 20px;
  border: 1px solid #dedada; }
  .booking .btn-confirm {
    font-size: 17px;
    font-weight: 700;
    padding: 13px; }
  .booking label {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 0; }
  .booking-price {
    font-size: 22px;
    font-weight: 700; }
  .booking-per-job {
    font-size: 13px;
    font-weight: 300; }
  .booking-note-title {
    font-size: 14px;
    margin-bottom: 10px; }
  .booking-note-text {
    font-size: 13px;
    font-weight: 300; }
  .booking .should-login-btn-container {
    text-align: center;
    margin-bottom: 10px; }
    .booking .should-login-btn-container .btn-login {
      text-align: center;
      font-size: 15px;
      padding: 15px; }
      .booking .should-login-btn-container .btn-login:hover, .booking .should-login-btn-container .btn-login:focus {
        color: white;
        text-decoration: none; }

.booking-modal .title {
  font-weight: 700;
  font-size: 26px; }

.booking-modal .buttons {
  margin: 15px 0px; }

.booking-modal em {
  font-style: normal;
  font-size: 17px;
  font-weight: 700; }

.booking-modal p {
  margin: 0; }

.daterangepicker td.in-range {
  background-color: red #111e6c; }

.daterangepicker td.active {
  background-color: #111e6c !important; }

#serviceListing {
  margin-top: 1.5rem; }
  #serviceListing .service-detail-link:hover {
    text-decoration: none; }
  #serviceListing .ehe-card {
    height: 100%; }
    #serviceListing .ehe-card img {
      width: 100%; }
    #serviceListing .ehe-card .card-body .card-title {
      font-weight: 500;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: #4a4a4a; }
    #serviceListing .ehe-card .card-body .card-subtitle {
      text-transform: capitalize;
      font-size: 1.1rem;
      padding-bottom: 0.5rem; }
    #serviceListing .ehe-card .card-body .card-text {
      font-size: 14px;
      font-weight: 300;
      color: #7e7e7e; }

#serviceDetails .upper-section {
  margin-bottom: 30px; }
  #serviceDetails .upper-section img {
    width: 100%; }

#serviceDetails .details-section {
  color: #4a4a4a; }
  #serviceDetails .details-section .service-type {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0; }
  #serviceDetails .details-section .service-owner {
    float: right; }
    #serviceDetails .details-section .service-owner img {
      height: 50px;
      border-radius: 50%;
      display: block;
      margin: 0 auto; }
    #serviceDetails .details-section .service-owner span {
      display: block;
      font-size: 13px;
      font-weight: 300; }
  #serviceDetails .details-section .service-company {
    margin-bottom: 5px;
    font-size: 32px;
    font-weight: 700; }
  #serviceDetails .details-section .service-city {
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 20px; }
  #serviceDetails .details-section .service-info {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px; }
    #serviceDetails .details-section .service-info span {
      margin-right: 10px; }
    #serviceDetails .details-section .service-info i {
      margin-right: 2px; }
  #serviceDetails .details-section .service-description {
    font-weight: 300;
    margin-bottom: 30px; }
  #serviceDetails .details-section .service-assets .title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 22px; }
  #serviceDetails .details-section .service-assets span {
    display: block;
    margin-bottom: 15px;
    font-weight: 300; }

#userServices .toBeDeleted {
  border-color: red; }

#userServices .card {
  margin-bottom: 20px; }

#userServices .card-block {
  padding: 20px; }

#userServices .card-title {
  font-size: 20px; }

#userServices .btn-ehe {
  font-size: 14px;
  color: white;
  padding: 10px 15px;
  margin-right: 10px; }

#userServices .card-footer {
  font-size: 14px; }

#userServices .btn-bookings {
  border-color: #111e6c;
  background-color: transparent;
  color: #111e6c; }
  #userServices .btn-bookings:hover, #userServices .btn-bookings:focus {
    border-color: #111e6c !important;
    background-color: transparent !important;
    color: #111e6c !important; }

#userServices .delete-menu {
  margin-top: 5px; }

#userServices .btn-danger,
#userServices .btn-success,
#userServices .btn-warning {
  margin-left: 10px;
  font-size: 14px;
  border-style: solid;
  color: #fff; }

.service-booking-modal .btn-ehe {
  font-size: 14px;
  color: white;
  padding: 10px 15px; }

.service-booking-modal .bookings-inner-container p {
  font-size: 14px;
  margin-bottom: 0px; }

.editableComponent .btn-editable {
  margin-left: 10px;
  font-size: 9px; }

.editableComponent .btn-editable-image {
  margin: 10px; }

.img-upload-container {
  margin-bottom: 20px;
  position: relative; }
  .img-upload-container .img-preview-container {
    background-color: #f7f7f7; }
  .img-upload-container .img-preview {
    background: center center no-repeat;
    background-size: contain;
    height: 116px;
    width: 116px; }
  .img-upload-container .img-upload {
    margin-right: 20px;
    margin-bottom: 0; }
  .img-upload-container .upload-text {
    font-size: 17px;
    margin: 0 10px 0 0; }
  .img-upload-container input {
    display: none; }
  .img-upload-container .alert {
    margin-top: 10px; }
  .img-upload-container .img-loading-overlay {
    background-color: black;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: 0.2;
    position: absolute; }
  .img-upload-container .img-spinning-circle {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
  .img-upload-container .img-spinning-circle:after {
    content: ' ';
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite; }

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.payment .alert-payment {
  font-size: 13px;
  padding: 8px;
  margin-top: 5px; }

.clickable:hover {
  cursor: pointer; }

.page-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #4a4a4a; }

.Landscaping {
  color: #11a74a; }

.Housekeeping {
  color: #dd6dca; }

.Pet.Care {
  color: #f8930f; }

.Auto.Detailing {
  color: #da0d0d; }

.btn-ehe {
  background-color: #00a572 !important;
  border-color: #00a572 !important;
  color: #ffffff !important;
  padding: 10px 15px;
  font-size: 1.1rem; }
  .btn-ehe:hover, .btn-ehe:focus, .btn-ehe:active {
    border-color: #2e8b57 !important;
    background-color: #2e8b57 !important; }

#showcase {
  background: url("img/showcase.jpg") no-repeat center fixed/cover;
  position: relative;
  min-height: 650px;
  color: #fff;
  padding-top: 6rem; }

#showcase .home-search {
  min-height: 300px;
  position: relative;
  border-radius: 5px; }

#showcase .overlay {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
  width: 100%;
  background: rgba(51, 51, 51, 0.8); }

#services {
  background-color: #00a572; }

#main-footer {
  background-color: #111e6c; }
